.image-logo{
    height: 55px;
    width: 70px;
    display: flex;
    text-Align: left;

}

.headerComponent-div{
    display: flex;
    justify-Content: center;
    align-Items: center;
}
.input-element{
    width: 300px;
    height: 40px;
    font-Size: 16px;
}
.button-style{
    height: 40px;
    width: auto;
    border-radius: 5px;
    background-Color: lightgreen;
    border-Color: white;
    border-Width: 1px;
    margin-Left: 5px;
}

.ul-element{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    align-content:center;
}

.div-ul-bottom{
    background-color: rgb(143, 183, 204);
    margin-bottom: 5px;
    width: auto;
    height: auto;
    font-size: 23px;
    padding: 5px;
    align-content: center;
    
    border-radius: 5px;
}
.button-Bottom-ul{
    height: auto;
    width: auto;
    border-radius: 1px;
    margin-left: 5px;
    border-width: 1px;
    background-color: rgb(241, 205, 205);
    margin-right: 5px;
}